services:
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
    expose:
      - 9090

  postgresql-exporter:
    image: prometheuscommunity/postgres-exporter:latest
    environment:
      DATA_SOURCE_URI: dbserver:5432/distribuida?sslmode=disable
      DATA_SOURCE_USER: postgres
      DATA_SOURCE_PASS: postgres
    expose:
      - 9187
    depends_on:
      - dbserver

  grafana:
    image: grafana/grafana-oss:latest
    ports:
      - 3000:3000
    expose:
      - 3000
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
      GF_USERS_ALLOW_SIGN_UP: "false"
    depends_on:
      - prometheus

  dbserver:
    image: postgres:17.7-alpine3.23
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: distribuida
    volumes:
      - "./db:/var/lib/postgresql/data"
    ports:
      - 5433:5432

  proxy:
    image: traefik:3.2
    command:
      - --api.insecure=true
      - --api.dashboard=true
      - --providers.consulCatalog
      - --providers.consulCatalog.refreshInterval=5s
      - --providers.consulCatalog.endpoint.address=consul:8500
      - --providers.consulCatalog.exposedByDefault=true
      - --providers.consulCatalog.defaultRule=PathPrefix(`/{{ .Name }}`)
      - --entrypoints.web.address=:80
    ports:
      - 8888:8080
      - 8080:80
    depends_on:
      - consul

  consul:
    image: consul:1.15.4
    command: |
      agent -dev
      -ui
      -bind 0.0.0.0
      -client 0.0.0.0
    expose:
      - 8500
    ports:
      - 8500:8500

  # llamacpp:
  #   image: ghcr.io/ggml-org/llama.cpp:server
  #   container_name: llamacpp
  #   volumes:
  #     - ./models:/models
  #   ports:
  #     - 8081:8080
  #   command: -m /models/llama-3.2-3b-instruct-q4_k_m.gguf --port 8080 --host 0.0.0.0 --no-warmup -n 512 --embedding
  #   healthcheck:
  #     test: [ "CMD", "curl", "-f", "http://localhost:8080/health" ]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 5G
  #       reservations:
  #         memory: 3G


  authors:
    image: emil2245/app-authors-helidon:latest
    environment:
      DB_HOST: dbserver
      DB_NAME: distribuida
      DB_USER: postgres
      DB_PASSWORD: postgres
      CONSUL_HOST: consul
      CONSUL_PORT: 8500
      SERVICE_NAME: app-authors
      SERVER_PORT: 8080
    expose:
      - 8080
    # ports:
    #   - 8090:8080
    depends_on:
      - dbserver
      - consul
      - proxy

  books:
    image: emil2245/app-books-helidon:latest
    environment:
      DB_HOST: dbserver
      DB_NAME: distribuida
      DB_USER: postgres
      DB_PASSWORD: postgres
      CONSUL_HOST: consul
      CONSUL_PORT: 8500
      SERVICE_NAME: app-books
      SERVER_PORT: 8080
    expose:
      - 8080
    # ports:
    #   - 8091:8080
    depends_on:
      - dbserver
      - consul
      - proxy

  customers:
    image: emil2245/app-customers-micronaut:latest
    environment:
      DATASOURCES_DEFAULT_URL: jdbc:postgresql://dbserver:5432/distribuida
      DATASOURCES_DEFAULT_USERNAME: postgres
      DATASOURCES_DEFAULT_PASSWORD: postgres
      CONSUL_HOST: consul
      CONSUL_PORT: 8500
    expose:
      - 8080
    # ports:
    #   - 8092:8080
    depends_on:
      - dbserver
      - consul
      - proxy

  recommend:
    image: emil2245/app-recommend-micronaut:latest
    environment:
      CONSUL_HOST: consul
      CONSUL_PORT: 8500
      LANGCHAIN4J_OPEN_AI_API_KEY: ${LANGCHAIN4J_OPEN_AI_API_KEY}
      LANGCHAIN4J_OPEN_AI_BASE_URL: "https://api.groq.com/openai/v1"
      LANGCHAIN4J_OPEN_AI_CHAT_MODEL_MODEL_NAME: "llama-3.3-70b-versatile"
    expose:
      - 8080
    depends_on:
      - dbserver
      - consul
      - proxy

  # app-web-vaadin:
  #   image: emil2245/app-web-vaadin:latest
  #   environment:
  #     SERVER_PORT: 8080
  #     GATEWAY_URL: http://proxy:80
  #   ports:
  #     - 8099:8080
  #   depends_on:
  #     - authors
  #     - books
  #     - customers
  #     - recommend
  #     - proxy

  app-front:
    image: emil2245/app-web-vaadin:latest
    environment:
      SERVER_PORT: 8080
      GATEWAY_URL: http://proxy:80
    ports:
      - 8098:8080
    depends_on:
      - authors
      - books
      - customers
      - recommend
      - proxy
